In [75]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
from scipy.stats import entropy
from math import log, e

Load Bosco Fontana Forest Mensuration Dataset

In [76]:

drive.mount('/content/drive')
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/BrFo.csv')

df=data[['inv_year','SP']]

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Simpson's diversity index for an year:
**D<sub>year</sub>=1-{ùù®n(n-1)}/N(N-1)**

n = number of individuals of each species

N = total number of individuals of all species

In [77]:
df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

n=df.groupby(['inv_year','SP']).size()

#agg=df.groupby(['inv_year','SP']).agg({'SP':[np.size]})

Calculating:  n*(n-1)

In [78]:
indiv=n*(n-1)

print(indiv)

inv_year  SP
1995      Ac      5550
          Ag      3906
          Ca     33672
          Cb    572292
          Cm         6
          Co        12
          Cs        12
          Fa      6480
          Fo     13340
          Ms        12
          Pr      5112
          Pt         2
          Qc        42
          Qr     17822
          Rp        72
          Sd         0
          Sn       552
          St       506
          Um      2970
2005      Ac      4970
          Ag      1722
          Ca    202950
          Cb    411522
          Cm        20
          Co         2
          Fa      4692
          Fo      9120
          Ms        12
          Pr     20880
          Pt         2
          Qc        42
          Qr     12882
          Rp        90
          Sn       420
          St        42
          Um      4556
2016      Ac      8372
          Ag       870
          Ca    285690
          Cb    258572
          Cm        56
          Co         2
          Fa      3080
          Fo      5700
          Ms        12
          Pr     18906
          Pt         0
          Qc        30
          Qr      7482
          Rp        90
          Sn        56
          St        20
          Tb         2
          Um      5112
dtype: int64

Calculate: N(N-1)

In [79]:
N=df.groupby(['inv_year']).size()

print(N*(N-1))

inv_year
1995    2616306
2005    3081780
2016    2691240
dtype: int64